.number-field {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.btn {
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0 0.5rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
.number-field .number {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.enabled-btn {
  border-color: #838383;
}
.disabled-btn {
  color: rgb(199, 199, 199);
  border-color: rgb(199, 199, 199);
  /* pointer-events: none; */
  cursor: not-allowed;
}
